/* 
* Basic Styles for BTM Social Actions
* Override with theme styles as needed.
*/

#block-btm_social_actions-0, #btm_social_actions {
    width: 250px;
    overflow: visible !important; /*Most of the time we have blocks set to overflow hidden */
}
/*General Settings and horizontal*/
#block-btm_social_actions-0 .action {
    display: inline-block;
    position:relative;
    width:65px;
}

/*Sets up Vertical Align*/
#block-btm_social_actions-0 .action.vertical {
    display: block;
}

/*Styles for Horizontal Layout */
#block-btm_social_actions-0 .horiztonal {
    float: left;
    width: 65px;
}

/*Spacing fixes*/
#btm_social_actions #facebook.horizontal {
   bottom:2px;
}

#btm_social_actions #twitter.horizontal {
    margin-right:12px;
}

#btm_social_actions.side .action {
    width:70px;
    margin-right:15px;
}
